{% extends 'base.html' %}


{% block title %}   Add Feedback    {% endblock %}



{% block content %}

    {% if 'username' in session %}
    <div class="container" style="margin-top: 4px;">
    <form action="" method="post">
        {{form.hidden_tag()}}
        {% for  field in form if field.widget.input_type != 'hidden' %}
        
            <p>
                {{field.label}} 
                {{field (class_="form-control")}}

            </p>

        {% endfor %}
        <button class="btn btn-info">Add Feedback</button>
    </form>
    </div>
    {% endif%}


{% endblock %}